.landingPageLottie {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: -70px;
}

.wellcome-all {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.scrollDown {
  position: absolute;
  top: 10px;
  right: -30px;
  width: 30px;
  height: 90px;
}

.soundBigScreen1 {
  position: absolute;
  left: -87px;
  top: 1.2rem;
  width: 90px;
}

.soundBigScreen2 {
  position: absolute;
  left: -87px;
  top: 7rem;
  width: 90px;
}

.soundBigScreen3 {
  position: absolute;
  right: -87px;
  top: 1.2rem;
  width: 90px;
}

.soundBigScreen4 {
  position: absolute;
  right: -87px;
  top: 7rem;
  width: 90px;
}

.paragraphs-titles {
  color: rgb(247, 229, 155);
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.paragraphs {
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  margin-left: 0px;
}

.front-page-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.front-pages {
  object-fit: content;
  width: 25.5rem;
  height: 11.125rem;
}

.titles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 2px ORANGE;
}

.my-projects-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 5px orange;
  height: 50px;
  padding-bottom: 5px;
  margin-top: 3rem;
  border-radius: 40%;
}

.my-projects {
  color: rgb(247, 229, 155);
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: underline;
}

.project-titles {
  color: orange;
  font-size: 30px;
  margin-top: 3rem;
  margin-bottom: 10px;
  margin-left: 10px;
}

.github-icon {
  color: rgb(247, 229, 155);
  margin-bottom: -14px;
  border-radius: 50px;
  transition: 0.15s;
}

.github-icon:hover {
  color: orange;
  box-shadow: 0 0 3px 1px orange;
}
