.scrollDownLateral {
  display: flex;
  justify-content: end;
  width: 97%;
}

.scrollDownLateralh1 {
  color: white;
  margin: 0px 0;
}

.arrow {
  margin-bottom: -6px;
}

.landingPageLottie {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: -70px;
  width: 90%;
}

.wellcome-all {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.scrollDown {
  position: absolute;
  top: 10px;
  right: -30px;
  width: 30px;
  height: 90px;
}

.play-song {
  margin-top: 100px;
  width: 300px;
  right: -85px;
  top: -100px;
  position: absolute;
  z-index: -10;
}

.soundBigScreen1 {
  position: absolute;
  left: -87px;
  top: -20.2rem;
  width: 70px;
  z-index: 100;
}

.soundBigScreen2 {
  position: absolute;
  left: -87px;
  top: -11rem;
  width: 70px;
}

.soundBigScreen3 {
  position: absolute;
  right: -87px;
  top: -20.2rem;
  width: 70px;
}

.soundBigScreen4 {
  position: absolute;
  right: -87px;
  top: -11rem;
  width: 70px;
}

.introduction {
  color: white;
  font-size: 15px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 6px;
}

.paragraphs-titles {
  color: rgb(247, 229, 155);
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.paragraphs {
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  margin-left: 0px;
}

.front-page-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.front-pages {
  object-fit: content;
  width: 25.5rem;
  height: 11.125rem;
  transition: all 0.2s ease-in-out;
}

.front-pages:hover {
  filter: brightness(150%);
  scale: 105%;
}

.titles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 2px ORANGE;
}

.projects {
  z-index: -1;
  margin-top: 10px;
  margin-bottom: -20px;
}

.my-projects-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 0 2px 2px orange; */
  height: 50px;
  padding-bottom: 5px;
  margin-top: 3rem;
}

.my-projects {
  color: rgb(247, 229, 155);
  font-size: 23px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: underline;
  z-index: 2;
}

.project-titles {
  color: orange;
  font-size: 30px;
  margin-top: 3rem;
  margin-bottom: 10px;
  margin-left: 10px;
}

.github-icon {
  width: 40px;
  color: rgb(247, 229, 155);
  margin-bottom: -18px;
  border-radius: 10px;
  transition: 0.15s;
  padding: 0 10px;
}

.github-icon:hover {
  color: orange;
  box-shadow: 0 0 3px 1px orange;
}
