.landingPageLottie {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: -70px;
}

.wellcome-all {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.scrollDown {
  position: absolute;
  top: 10px;
  right: -30px;
  width: 30px;
  height: 90px;
}

.soundBigScreen1 {
  position: absolute;
  left: -87px;
  top: 1.2rem;
  width: 90px;
}

.soundBigScreen2 {
  position: absolute;
  left: -87px;
  top: 7rem;
  width: 90px;
}

.soundBigScreen3 {
  position: absolute;
  right: -87px;
  top: 1.2rem;
  width: 90px;
}

.soundBigScreen4 {
  position: absolute;
  right: -87px;
  top: 7rem;
  width: 90px;
}
